.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

* {
	color: white;
	font-family: "Stag Sans Web", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}

body {
	overflow: hidden;
	background: url('../img/prepare for college in middle, high school.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 960px;
}

div {
	border: 1px solid black; /* for testing purposes */
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
	margin: 0;
}

.navbar {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 40px;
	vertical-align: bottom;
	font-size: 18px;
}

.navbar li {
	display: inline-block;
	margin: 0 10px;
}

.navbar li a {
	text-decoration: none;
	padding: 3px 10px;
}

.highlighted {
	border: 2px solid #F5AD16;
}

.highlighted a:hover {
	background-color: #F5AD16;
}

.navbar li a:hover {
	text-decoration: none;
}


.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

#upper_navbar {

}

header {
	min-width: 960px;
}

header nav {
	display: inline-block;
}