.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

* {
	font-family: "Stag Sans Web", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}

body {
}

div, section {
	border: 1px solid black; /* for testing purposes */
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
	margin: 0;
}

.blue-gradient {
	background: linear-gradient(#A6F0F4, #91DCF2, #36B9E4) no-repeat;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}

.wide-container {
	margin-left: 10%;
	margin-right: 10%;
	min-width: 960px;
}

.navbar {
	list-style: none;
	margin: 2;
	margin-top: 40px;
	vertical-align: bottom;
	font-size: 18px;
}

.navbar li {
	display: inline-block;
}

.navbar li a {
	text-decoration: none;
	margin: 0;
	padding: 6px 15px;
}

.navbar li a:hover {
	text-decoration: none;
}

.navbar li:last-child {
	padding: 4px 0;
	border: 2px solid #F5AD16;
	border-radius: 3px;
}

.navbar a:hover {
	background-color: #F5AD16;
	border-radius: 3px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

#upper-navbar {

}

header {
	min-width: 960px;
}

header nav {
	display: inline-block;
}

#main-section {
	height: 400px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#carousel-container {
}

.testimonials-container {
	width: 47%;
	display: inline-block;
	padding-right: 3%;
	display: inline-block;
	border-right: 2px dotted gray;
	margin-top: 10px;
}

.press-container {
	width: 45%;
	margin-left: 2%;
	border: 1px solid black;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}

.testimonial {
	line-height: 12px;
}

.testimonial :first-child {
	font-style: italic;
	font-size: 14px;
	/*text-align: left;*/
}

.testimonial :last-child {
	font-size: 12px;
	text-align: right;
}

.light-text {
	color: #fff;
}

.dark-text {
	color: #009BE6;
}

.press-container :first-child {
	font-style: italic;
	font-size: 14px;
}

.press-container :last-child {
	font-size: 12px;
	text-align: right;
	display: block;
}